__pycache__/
*.pyc
.venv/
.env
.devcontainer/vocab-data/
.vscode/
.idea/
logs/
*.egg-info/
site/
!data/
data/*
!data/gold_standards/
!data/gold_standards/**
!data/notebook_results/
!data/notebook_results/**
!data/sample_data/
!data/sample_data/**
*.DS_Store
phoebe_embeddings.checkpoint.pkl
sandbox/classify_icd10cm_and.py
out.csv
src/ariadne/vector_search/pgvector_concept_searcher_phoebe.py
sandbox/phoebe.py
docs/snomed_ref_description.md
sandbox/drug_results/
sandbox/procedure_results/
